[% BLOCK custom_list %]
<td>[% el.id %]</td>
<td>[% el.title %]</td>
<td>[% el.category_name %]</td>
<td>
    <div class="thumbnail">
        <img src="[% el.image %]" alt="">
    </div>
</td>
[% END %]
