<div class="span12">
    <h1>Images</h1>
</div>
[% IF img_source %]
<div class="span6">
    <div class="preview">
        <img src="[% img_source %]" />
    </div>
</div>
[% END %]
<div class="content image span6">
    <div>
    [% form %]
    </div>
</div>
<script>
  $(document).ready(function() {
        item_type = 'image';
        category_init();
        tags_init([% id %]);
  });
</script>

