<div class="span12">
    <h1>[% label %]</h1>
</div>
<div class="content wine span9">
    <div>
    [% form %]
    </div>
</div>
<script>
    $(document).ready(function() {
        item_type = '[% entity %]';
        category_commander();
        tags_init([% id %]);
        $("#last").on("click", get_last_chapter);
        $("#date_of_pub").datepicker({ format: "dd/mm/yyyy" });
    });
</script>

